*{
    margin: 0;
    padding: 0;
    border: 2px;
    
}
:root{
    --colorPri: #760597;
    --colorSec: #84cdd3;
    --colorTer: #FFD701;
    --colorTex1: #707070;
    --colorText2: #FFD701;
}

header{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #760597;
    color: var(--colorText2);
    width: 95%;
    box-sizing: border-box;
    font-size: 30px;
}

body{
    background-color: var(--colorSec);
}
#carrusel {
    align-content: center;
    
}




