table{
    border-collapse: collapse;
}
.td{
    border: 1px soli red;
    background-color: blue;
}
td{

}
.centro{
    text-align: center;
}
.peole{

}
.navitem{
    list-style: none;
    text-decoration: none;
    text-align: center;
}
